*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: verdana;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: #ca9ca1;
}

.menu{
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: white;
    z-index: 1;
    border-bottom: 1px solid black;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li{
    float: left;
}

nav ul li a{
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}

section{
    margin: auto;
    display: flex;
    margin-top: 150px;
    margin-bottom: 100px;
}

.kolom{
    margin-top: 50px;
    margin-bottom: 50px;
}


h2{
    
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #ca9ca1;
    width: 100%;
    line-height: 50px;
}

section{
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}


.kolom{
    margin-top: 50px;
    margin-bottom: 50px;
    padding : 20px;
}


h2{
    font-family: 'comic sans ms';
    font-weight: 800; 
    font-size: 45px;
    margin-bottom: 20px;
    color: #F1B4BB;
    width: 100%;
    line-height:50px;
}

a.tombol-pink{
    background: #ca9ca1;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor : pointer;
    font-weight: bold;
}

a.tombol-pink:hover {
    background : #DA0C81;
    text-decoration: none;
    
}

p{
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.tengah{
    text-align: center;
    width: 100%;
}

.content {
    position: relative;
    width: 300px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: center;
    text-align: center;
    float: left;
}

.content img {
    position: relative;
    width: 40px;
    height: 40px;
    padding: 10px;
    background: #ca9ca1;
    border-radius: 20%;
}

.content h2 {
    font-size: 18px;
    margin: 10px;
    text-transform: uppercase;
}

.content p {
    font-size: 13px;
    line-height: 1-4;
}


.main-text {
    text-align: center;
}

.projek-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
    margin-right: 100px;
    margin-left: 100px;
}

.row img{
    height: 300px;
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
}

.row {
    padding: 25px;
    background: #ca9ca1;
    transition: all .40s ease;
}

.main-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.row h3 {
    font-size: 25px;
    font-weight: 700;
}

.row h6 {
    color: var(--main-color);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}

.row icon i{
    font-size: 21px;
}

.row:hover{
    transform: scale(1.01) translateY(-5px);
    cursor: pointer;
}

footer{
    background: #fcfcfc;
    height : auto;
    width: 100vw;
    font-family:'comic sans ms';
    padding-top:40px;
    color: rgb(163, 80, 80);

}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align : center;

}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height:28px;
    font-size: 14px;
}


.footer-bottom {
    background :#000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;

}

.footer-bottom span{
    text-transform: uppercase;
    font-weight: 200;
    color: white;
}